<div ng-controller="MapController">
<div>
  <trail-map ng-model="selectedLocations"></trail-map>
  <form ng-submit="submitMap">
    <label for="map-name">Trail Name:</label><br>
    <input type="text" id="map-name" ng-model="mapInfo.name"><br>
    <label for="map-description">Trail Description:</label><br>
    <textarea id="map-description" ng-model="mapInfo.description" rows=4></textarea><br>
    <p>Trail Locations:</p>
    <ul>
      <li ng-repeat="location in selectedLocations">
        <div class="edit-location" ng-switch on="location.editing">
          <div ng-switch-when="true">
            <form>
              <input type="text" ng-model="location.name" autofocus onfocus="this.select()">
              <input type="submit" value="Save" ng-click="refreshMap(selectedLocations, $index, map)">
              <button ng-click="removeLocation(selectedLocations, $index, map)">X</button><br>
            </form>
          </div>
          <div ng-switch-when="false"
              ng-click="location.editing = true">
            {{location.name}}
          </div>
        </div>
      </li>
    </ul>
    <input type="submit" id="submit" value="Submit Your Trail">
  </form>
  <button ng-controller="LogoutController" ng-click="logout()">Logout</button>
</div>
