<div id="fb-root"></div>
<nav id="sidebar-wrapper" class="sidebar-wrapper">
  <div class="sidebar-nav" id="facebook-holder">
    <div class="navbar-header text-xs-center">
      <div class="makertrailsLogo">MakerTrails</div>
    </div>
    <div class="links text-xs-center">
      <button ui-sref="viewMaps" id="viewtrails" class="all-trails button btn btn-large btn-primary btn-block">Your Trails</button>
    </div>
    <div class="links text-xs-center">
      <button ui-sref="createNewMap" id="viewtrails" class="all-trails button btn btn-large btn-primary btn-block">Create a Map</button>
    </div>
  </div>
</nav>

<div id="map" data-tap-disabled="true"></div>


<!-- ng-init="getMap();facebookButton;" -->
