<div id='authContainer'>

  <img src="http://www.foodsubs.com/Photos/tacoshell.jpg">
  <form id='authCenter' name="signupForm" ng-submit="signup()" novalidate>

    <input class="section" type="text" autocomplete="off" name="newusername" placeholder="username" ng-model="username" required>

    <div  class="section" ng-messages="signupForm.newusername.$error" ng-if="signupForm.newusername.$dirty">
      <div class="section" ng-message="required">Username Required</div>
    </div>

    <input class="section" type="password" autocomplete="off" name="passwordname" placeholder="password" ng-model="password" required>

    <div class="section" ng-messages="signupForm.passwordname.$error" ng-if="signupForm.passwordname.$dirty">
      <div class="section" ng-message="required">Password Required</div>
    </div>

    <input class="section" type="email" autocomplete="off" name="emailname" placeholder="email" ng-model="email" required>

    <div class="section" ng-messages="signupForm.emailname.$error" ng-if="signupForm.emailname.$dirty">
      <div class="section" ng-message="required">Email Required</div>
    </div>

    <div class="section">
      <button class="button" type="submit" ng-disabled="signupForm.$invalid">Create Account</button>
    </div>

    <div class="section">
      <button class="button" ui-sref="login">Go back</button>
    </div>

  </form>

</div>
