<nav id="sidebar-wrapper" class="sidebar-wrapper">
  <div class="sidebar-nav">
    <div class="navbar-header text-xs-center">
      <div class="makertrailsLogo">MakerTrails</div>
    </div>
    <div class="links text-xs-center">
      <a ui-sref="createNewMap" id="viewtrails" class="all-trails">Create a Map</a>
    </div>
  </div>
</nav>

<div class="push card-columns">
<div class="col-md-3" ng-repeat="map in userMapData">
  <div class="card card-block">
    <div class="card-block">
      <h4 class="card-title">{{map.name}}</h4>
      <p>{{map.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" ng-repeat="location in map.locations.fulfillmentValue">{{location.name}}</li>
    </ul>
    <div class="form-group-row"><br>
      <button type="button" class="btn btn-primary" ng-click="selectMap(map)">View Map</button>
      <button type="button" class="btn btn-danger" value="Remove" data-ng-click="removeMap($index, map.id)">Remove Map</button>
    </div>
  </div>
</div>
</div>
