/*==============================*\
COLORS
#E8E0D1
#FFF7E5
#FFFCF9 // Background
#E8E3DE
#FFF2E5
#2C2E2F
<<<<<<< HEAD
#BBD530 // Buttons
=======
#BBD530 // Green button
#D53030 // Red button
>>>>>>> featStyling
\*==============================*/

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Arimo);

/*==============================*\
MAIN SECTION
\*==============================*/
body{
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFCF9;
  text-decoration: none !important;
  font-family: 'Lobster', cursive;
  font-weight: 100;
  font-size: 24px;
  outline: none;
}

input{
  border: 1px solid #E8E3DE;
  height:25px;
  width: 275px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: 'Arimo', sans-serif;
  outline: none;
}

textarea{
  border: 1px solid #E8E3DE;
  height:100px;
  width: 275px;
  font-size: 24px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: 'Arimo', sans-serif;
  outline: none;
}

p{
  font-size: 75px;
  margin: 0px;
}

.section{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 5px;
}

.button{
  border: 0px;
  height: 32px;
  width: 111px;
  border-radius: 25px;
  background-color: #BBD530;
  font-family: 'Lobster', cursive;
  font-size: 16px;
  outline: none;
}

/*==============================*\
AUTH SECTION
\*==============================*/

#authContainer{
  position: fixed;
  min-width: 920px;
  max-width:500px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

#authContainer img{
  height: 400px;
  width: 400px;
}

#authCenter{
  margin: auto;
  width: 60%;
}

/*==============================*\
MAP SECTION
\*==============================*/

#header{
  margin: 10px 25px 10px 25px;
  height: 32px;
}

#header img{
  width: 32px;
  height: 32px;
}

#logout{
  float: right;
  width: 64px;
}

#viewtrails{
  float: right;
  width: 64px;
}

#mapContainer{
  padding: 0px 0px 10px 0px;
}

#map{
  margin: auto auto;
  width: 75%;
  height: 450px;
}

#trailsForm{
  margin-top: 15px;
  margin-left: 12.5%;
  width: 75%;
}

.redButton{
  border: 0px;
  height: 32px;
  min-width: 30px;
  border-radius: 25px;
  background-color: #D53030;
  font-size: 16px;
  font-family: 'Lobster', cursive;
  outline: none;
}

.blueButton{
  border: 0px;
  height: 32px;
  min-width: 30px;
  border-radius: 25px;
  background-color: blue;
  font-size: 16px;
  font-family: 'Lobster', cursive;
  outline: none;
}
