/*==============================*\
COLORS
bg-yellow: #fbce5b
text-dark: #804c02
text-light: #fff
dark-yellow: #f2ac48
\*==============================*/


/*==============================*\
GLOBAL STYLES
\*==============================*/

html, body, .master{
  height: 100%;
  color: #804c02;
}
.form-group .text-error{
  color: red;
}

.btn-primary, .btn-primary:active{
  background: url("images/Melamine-wood-004.png");
  border-color: transparent;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.32);
}

.btn-primary:hover, .btn-primary:disabled:hover,
.btn-primary:active, .btn-primary:disabled:active,
.btn-primary:disabled, .btn-primary:active:hover{
  border-color: transparent;
}

.button-group a {
  color: #804c02;
}



/*==============================*\
AUTH SECTION
\*==============================*/
.form-signin, .form-login{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control{
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .button{
  margin-bottom: 10px;
}

.login-page, .signup-page {
  height: 100%;
  background: url('images/bg.jpg');
  background-size: cover;
}

.push{
  padding-left: 250px;
  padding-top: 30px;
}

.footer-wrapper{
  color: #fff;
  bottom: 0;
  font-size: 0.75rem;
  left: 220px;
  padding-bottom: 0.5rem;
  position: fixed;
}
.footer-wrapper ul{
  margin-bottom: 0;
}
.footer-wrapper ul a, .footer-wrapper ul a:hover{
  color: #fff;
}
.footer-wrapper li{
  margin-right: 5px;
}


/*==============================*\
NAVIGATION SIDEBAR
\*==============================*/
.makertrailsLogo .navbar-brand{
  height: 70px;
  padding-left: 20px;
  line-height: 70px;
  float: none;
  color: #804c02;
}

.logo {
  display: block;
  text-indent: -9999px;
  margin-left: 12px;
  width: 200px;
  height: 100px;
  background: url("images/makertrails.svg");
  background-size: 200px 100px;
}

#sidebar-wrapper {
  background: url("images/Melamine-wood-001.png"), linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(63,34,42,0.1) 100%);
  height: 100%;
  left: 0px;
  overflow-y: auto;
  position: fixed;
  z-index: 1030;
}

/*#sidebar-wrapper-push {
  background: rgba(251, 206, 91, 0.93);
  height: 100%;
  left: 0px;
  overflow-y: auto;
  position: relative;
  max-width: 200px
}*/

.sidebar-nav {
  color: #804c02;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 225px;
}
.sidebar-nav li {
  text-indent: 5px;
}
.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  cursor: pointer;
}
.sidebar-nav .links a{
  color: #804c02;
}
.sidebar-nav .links{
  margin-bottom: 15px;
}
/*.sidebar-nav .links .all-trails:after{
  color: #fff;
  content: '|';
  margin-left: 5px;
}*/

#sidebar-wrapper .navbar-header{
  margin-bottom: 15px;
  float: none;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 30px;
  width: 100%;
}

.navbar{
  position: relative;
}
.navbar-brand{
  font-size: 25px;
}

.navbar li a{
  height: 70px;
  padding: 0 20px;
  line-height: 70px;
}

.navbar-inner{
  width: 100%;
}
.navbar-inner .navbar-button{
  background: url("images/Melamine-wood-003.png"), linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(63,34,42,0.1) 100%);
  color: #804c02;
  display: block;
  line-height: 30px;
  margin: 0 10px;
  text-align: center;
}
.navbar-inner .navbar-button:hover{
  background: url("images/Melamine-wood-003.png"), linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(63,34,42,0.1) 100%);
  cursor: pointer;
  text-decoration: none;
}
.navbar-inner-bottom{
  position:absolute;
  bottom: 0;
}

.list-locations{
  width: 100%;
}
.list-locations p{
  margin: 0;
}
.list-locations li{
  background: url("images/Melamine-wood-003.png"), linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(63,34,42,0.1) 100%);
  margin-bottom: 2.5px;
  overflow: auto;
  padding: 5px;
  width: 100%;
}
/*.list-locations li:hover{
  background: #DB9D40;
  width: 100%;
}*/
.list-locations input{
  line-height: 10px;
}
.list-locations-bottom{
  position:absolute;
  bottom: 0;
}

.list-locations .col-left{
  text-align: left;
  width: 150px;
}

.list-locations .col-right{
  margin-right: 10px;
}

.list-locations .rename-location:hover,
.list-locations .remove-location:hover{
  cursor: pointer;
}

.list-locations .remove-location:hover{
  color: red;
}


/*==============================*\
MAP SECTION
\*==============================*/

#header{
  margin: 10px 25px 10px 25px;
  height: 32px;
}

#header img{
  width: 32px;
  height: 32px;
}

.mapContainer{
  /*margin: 100px 0 10px 0;*/
}

#map{
  margin: auto auto;
  width: 100%;
  height: 100vh;
}

.trailsForm{
  display: block;
}

.trailsForm input, .trailsForm textarea{
  margin: 0 5% 10px 5%;
  width: 90%;
}


/*==============================*\
VIEW MAPS SECTION
\*==============================*/

#viewtrails, #trailsForm .create-map {
  margin: 0 5%;
  width: 90%;
}

.card-block {
  background: url("images/Melamine-wood-003.png");
  border: transparent;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.32);
}
.card-columns .button-remove{
  font-size: 23px;
}
.card-columns .button-remove:hover{
  cursor: pointer;
}
.fb-share-button{
  text-align: center;
  width: 100%;
}
.list-group-item {
  background: url("images/Melamine-wood-001.png"), linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(63,34,42,0.1) 100%);
  border: none;
}
