<ion-view title="home">
  <ion-content>
    <div class="item item-divider">
      Welcome, {{username}}
    </div>
    <button class="button button-block button-stable">
      Continue
    </button>
    <button class="button button-block button-balanced" ng-click="goToMapList()">
      Browse Maps
    </button>
    <button class="button button-block button-balanced" ng-click="takePicture()">
      TAKE PICTURE
    </button>
    <button class="button button-block button-balanced" ng-click="test()">
      Locations
    </button>
    <div>
      <img ng-src="{{imgURI}}">
    </div>
    <button class="button button-block button-balanced" ng-click="retrievePhotos()">
      RETRIEVE PICTURE
    </button>
    <div ng-repeat='photo in locationPhotos'>
       <img ng-src="{{photo.link}}"/>
    </div>
  </ion-content>
</ion-view>
